.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    padding: 2.5rem;
    border: 1px solid brown;
}

.form-input {
    padding: 15px;
    margin: 10px 0;
}
.form-group {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px 0;
    border: none;
    outline: none;
    background-color: brown;
    color: white;
    border-radius: 5px;
}